
<mat-toolbar color="">
  <span>WDR User Management</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">
  <ng-container matColumnDef = "id">
     <th mat-header-cell *matHeaderCellDef> Id</th>
     <td mat-cell *matCellDef = "let element"> {{element.id}} </td>
  </ng-container>
   <ng-container matColumnDef = "name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
   </ng-container>
   <ng-container matColumnDef = "username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef = "let element"> {{element.username}} </td>
   </ng-container>
   <ng-container matColumnDef = "email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef = "let element"> {{element.email}} </td>
   </ng-container>
   <ng-container matColumnDef = "role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef = "let element"> {{element.role}} </td>
   </ng-container>
   <ng-container matColumnDef = "addedOn">
      <th mat-header-cell *matHeaderCellDef>Added On</th>
     <td mat-cell *matCellDef = "let element"> {{element.addedOn}}</td>
   </ng-container>
   <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
   <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>

</table>

<table class="table table-bordered">
  <thead>
    <tr>
       <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <td>Created At</td>
      <td>Updated At</td>
      <td width=275 align="center">Action</td>
    </tr>
  </thead>
  <tbody>
     {{users}}
     <tr *ngFor="let user of wdrUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.createdAt}}</td>
        <td>{{user.updatedAt}}</td>
        <td width=275>
            <a class="btn btn-info" routerLink="/show/{{user.id}}">Detail</a>
            <a class="btn btn-success" (click)="editUser(user)">Edit</a>
            <a class="btn btn-danger" (click)="deleteUser(user.id)">Delete</a>
        </td>
     </tr>

  </tbody>

</table>
