<nb-layout class="container">
                   <nb-layout-header fixed>
                  <!-- Header-->
                  WDR Desktop App
                  </nb-layout-header>

                  <!-- side bar content -->
                  <nb-sidebar>
                      <div class="nav navbar-nav" routerLinkActive="active">
                        <div *ngIf="authority === 'oc'" class="nav-item" >
                          <nb-menu [items]="items" autoCollapse="true">
                          </nb-menu>
                        </div>
                        <div *ngIf="authority === 'observer'" class="nav-item" >
                          <nb-menu [items]="observerMenu" autoCollapse="true">
                          </nb-menu>
                        </div>
                        <div *ngIf="authority === 'managerData'" class="nav-item" >
                          <nb-menu [items]="observerMenu" autoCollapse="true">
                          </nb-menu>
                        </div>
                        <div *ngIf="!authority" class="nav-item" >
                          <a class="nav-link" routerLink="auth/login">Login</a>
                        </div>

                      </div>

                    <!-- <ul class="nav navbar-nav" routerLinkActive="active" >
                        <li class="nav-item"> <a class="nav-link" [routerLink]="home">Home</a> </li>
                        <li *ngIf="authority === 'observer' ">
                                <a class="nav-link" routerLink="add-observationslip">Add Observationslip</a>
                                <a class="nav-link" routerLink="view-observationslips">View Observationslip</a>
                        </li>
                        <li *ngIf="authority === 'oc'" class="nav-item">
                            <a class="nav-link" routerLink="oc" >OC Board</a>
                            <a class="nav-link" routerLink="register" >Add observer</a>
                            <a class="nav-link" routerLink="oc" >View Observers</a>
                            <a class="nav-link" routerLink="view-observationslips" >View submitted observationslips</a>
                        </li>
                        <li *ngIf="!authority" class="nav-item">
                                <a class="nav-link" routerLink="auth/login">Login</a>
                        </li>

                    </ul> -->
                  </nb-sidebar>

                  <nb-layout-column>


                    <!-- <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a [routerLink]="home" class="navbar-brand">WDR DESKTOP APP</a>
                            </div>
                            <ul class="nav navbar-nav" routerLinkActive="active" >
                                <li class="nav-item"> <a class="nav-link" [routerLink]="home">Home</a> </li>
                                <li *ngIf="authority === 'observer' ">
                                        <a class="nav-link" routerLink="add-observationslip">Add Observationslip</a>
                                        <a class="nav-link" routerLink="view-observationslips">View Observationslip</a>
                                </li>
                                <li *ngIf="authority === 'oc'" class="nav-item">
                                    <a class="nav-link" routerLink="oc" >OC Board</a>
                                    <a class="nav-link" routerLink="register" >Add observer</a>
                                    <a class="nav-link" routerLink="oc" >View Observers</a>
                                    <a class="nav-link" routerLink="view-observationslips" >View submitted observationslips</a>



                                </li>
                                <li *ngIf="!authority" class="nav-item">
                                        <a class="nav-link" routerLink="auth/login">Login</a>
                                </li>

                            </ul>

                        </div>

                    </nav> -->





                    <!-- <router-outlet></router-outlet> -->

                  </nb-layout-column>

            <nb-layout-footer fixed>
            <!-- Insert footer here -->
              WIMEA-ICT WDR DESKTOP APP &copy;2019
            </nb-layout-footer>

</nb-layout>
